# ZAI_API_KEY=your_zai_api_key
# PORT=5000
# ZAI_BASE_URL=https://api.z.ai/api/paas/v4
# ZAI_MODEL=glm-4.5-flash
# MONGO_URI=your_mongodb_connection_string
# JWT_SECRET=your_jwt_secret

# OPENROUTER_API_KEY=
# OPENROUTER_MODEL=

PORT=5000

MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret

AI_PRIMARY_PROVIDER=openrouter
AI_FALLBACK_PROVIDER=zai

OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_MODEL=your_openrouter_model

ZAI_API_KEY=your_zai_api_key
ZAI_BASE_URL=https://api.z.ai/api/paas/v4
ZAI_MODEL=glm-4.5-flash